<!DOCTYPE html>
<html lang="en">
<head>
  <title>MY TODO LIST</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Mylist</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/index">Home</a></li>
      
      
    </ul>
  </div>
</nav>
  
<div class="container">

  <h2>My TO DO List</h2>
</div>
<center>
<form action="insert" method="POST">
      <label> Title </label><input type="text" name="title" id="name"/><br />
      <label> Description </label><input type="text" name="description" id="role"/><br />
      <label> Due Date </label><input type="text" name="date" id="matches"/><br />
      <label> Priority </label><input type="text" name="priority" id="age"/><br />
    <script>
        var name1 = document.getElementById("name").value;
        var role1 = document.getElementById("role").value;
        var matches1 = document.getElementById("matches").value;
       var age1 = document.getElementById("age").value;
  
       name1.style.color = "red";
       role1.style.color = "blue";
       matches1.style.color = "pink";


    
    </script>    

      <input type="submit">
    </form>
</center>    
</body>
</html>